
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg, red, blue);
    /* what is the purpose of this padding */
    padding: 10px;
}

.todo-app {
    /* to make width responsive with screen size  */
    width: 100%;
    max-width: 540px;
    background: #fff;
    /* auto is used to center element horizontally */
    /* top - right&left - bottom */
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h2 {
    color: #002765;
    /* To center the h2 according to img */
    display: flex;
    align-items: center;
    /* what is the purpose of this margin */
    margin-bottom: 20px;
}

.todo-app h2 img {
    width: 30px;
    margin-left: 10px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    /* what is the purpose of this margin */
    margin-bottom: 25px;
}

/* flex - these go on children inside the flex container */
input {
    /* expand and fill all available pace, sharing it equally with other items that also have flex:1 */
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-size: 14px;
}

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

ul li {
    list-style: none;
    font-size: 20px;
    padding: 10px 8px 12px 50px;
    /* prevent highlighting on click */
    user-select: none;
    cursor: pointer;
    position: relative;
}

/* pseudo-element that lets you insert content before each element */
ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 6px;
    left: 8px;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(images/checked.png);    
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    height: 40px;
    width: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover {
    background: #edeef0;
}